@import '../../sass/variables';

.landing-resume {
	flex: 1;
	overflow: auto;

	position: relative;
}

.mi-progress {
	width: 100%;
	display: inline-block;
	margin-bottom: 2rem;

	&__title {
		color: $light;
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	&__inner {
		display: flex;
		align-items: center;
		padding: 0.5rem 0;
	}

	&__percentage {
		color: $secondary;
		font-size: 1.5rem;
		margin-right: 2rem;
	}

	&__container {
		background-color: rgba($secondary, 0.7);
		height: 6px;
		width: 100%;
		border-radius: 5px;
		position: relative;
	}

	&-active {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: $primary;
		border-radius: 5px;
	}
}

.resume-section {
	width: 100%;
	color: $light;
}

.time-line {
	list-style: none;
	position: relative;

	&::after {
		content: '';
		height: 99%;
		width: 5px;
		border-left: 2px solid $gray;
		top: 8px;
		left: 22px;
		z-index: 0;
		position: absolute;
	}

	&__item {
		display: flex;
		margin-left: 60px;
		margin-bottom: 5rem;

		@media only screen and (max-width: $bp-m) {
			flex-direction: column;
			margin-right: 2rem;
		}
	}

	&__date {
		font-size: 1.8rem;
		font-weight: 300;
		color: $secondary;
		position: relative;
		margin-right: 1rem;

		flex: 0 0 25%;

		&::before {
			content: '\2022';
			color: $gray;
			font-size: 60px;
			z-index: 2;
			position: absolute;
			top: -22px;
			left: -47px;
		}

		&::after {
			content: '';
			background-color: $gray;
			height: 1px;
			width: 10px;
			position: absolute;
			top: 12px;
			left: -32px;

			@media only screen and (max-width: $bp-m) {
				width: 15px;
			}
		}
	}

	&__content {
		position: relative;
		flex: 1;

		@media only screen and (max-width: $bp-m) {
			margin-top: 2rem;
		}

		& > h4 {
			font-size: 1.8rem;
			color: $light;
			font-weight: 300;
			margin-bottom: 1.5rem;
		}

		& > h3 {
			font-size: 2rem;
			color: $primary;
			font-weight: 500;
			margin-top: -0.7rem;
			margin-bottom: 0.8rem;
		}

		& > p {
			color: $secondary;
			font-size: 1.8rem;
			text-align: justify;

			&:not(:last-of-type) {
				margin-bottom: 1rem;
			}
		}

		&::after {
			content: '';
			background-color: $gray;
			height: 1px;
			position: absolute;
			top: 12px;
			left: -30px;
			width: 10px;

			@media only screen and (max-width: $bp-lg) {
				left: -40px;
				width: 20px;
			}
			@media only screen and (max-width: $bp-m) {
				display: none;
			}
		}
	}
}
